/* Coolors Exported Palette - https://coolors.co/fbf2ad-ebe9dc-dd7957-4794bd-0c2e5b */

/* CSS HEX */
--vanilla: #FBF2ADff;
--alabaster: #EBE9DCff;
--burnt-sienna: #DD7957ff;
--celestial-blue: #4794BDff;
--berkeley-blue: #0C2E5Bff;

/* CSS HSL */
--vanilla: hsla(53, 91%, 83%, 1);
--alabaster: hsla(52, 27%, 89%, 1);
--burnt-sienna: hsla(15, 66%, 60%, 1);
--celestial-blue: hsla(201, 47%, 51%, 1);
--berkeley-blue: hsla(214, 77%, 20%, 1);

/* SCSS HEX */
$vanilla: #FBF2ADff;
$alabaster: #EBE9DCff;
$burnt-sienna: #DD7957ff;
$celestial-blue: #4794BDff;
$berkeley-blue: #0C2E5Bff;

/* SCSS HSL */
$vanilla: hsla(53, 91%, 83%, 1);
$alabaster: hsla(52, 27%, 89%, 1);
$burnt-sienna: hsla(15, 66%, 60%, 1);
$celestial-blue: hsla(201, 47%, 51%, 1);
$berkeley-blue: hsla(214, 77%, 20%, 1);

/* SCSS RGB */
$vanilla: rgba(251, 242, 173, 1);
$alabaster: rgba(235, 233, 220, 1);
$burnt-sienna: rgba(221, 121, 87, 1);
$celestial-blue: rgba(71, 148, 189, 1);
$berkeley-blue: rgba(12, 46, 91, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #FBF2ADff, #EBE9DCff, #DD7957ff, #4794BDff, #0C2E5Bff);
$gradient-right: linear-gradient(90deg, #FBF2ADff, #EBE9DCff, #DD7957ff, #4794BDff, #0C2E5Bff);
$gradient-bottom: linear-gradient(180deg, #FBF2ADff, #EBE9DCff, #DD7957ff, #4794BDff, #0C2E5Bff);
$gradient-left: linear-gradient(270deg, #FBF2ADff, #EBE9DCff, #DD7957ff, #4794BDff, #0C2E5Bff);
$gradient-top-right: linear-gradient(45deg, #FBF2ADff, #EBE9DCff, #DD7957ff, #4794BDff, #0C2E5Bff);
$gradient-bottom-right: linear-gradient(135deg, #FBF2ADff, #EBE9DCff, #DD7957ff, #4794BDff, #0C2E5Bff);
$gradient-top-left: linear-gradient(225deg, #FBF2ADff, #EBE9DCff, #DD7957ff, #4794BDff, #0C2E5Bff);
$gradient-bottom-left: linear-gradient(315deg, #FBF2ADff, #EBE9DCff, #DD7957ff, #4794BDff, #0C2E5Bff);
$gradient-radial: radial-gradient(#FBF2ADff, #EBE9DCff, #DD7957ff, #4794BDff, #0C2E5Bff);