body{
background-color: darkgrey;
color:black;
}

/* header */
.header{
display:flex;
background-image: url("../pic/tim-mossholder-J0sMjGu6jvQ-unsplash.jpg");
background-repeat: no-repeat;
flex-direction: row; 
justify-content: space-around;
 height:10em;
 width:100%x;
}



.Pic{
    position: relative;
    left:121px;
    width:1263.3px;

}


.name{
    position: relative;
    left: -140px;

    justify-items: flex-start;
    align-self: flex-start;
    /* text-align: center; */
    width: 20%;
    font-size: 50px;
    color:white;

}


.bioButton, .projuctsButton, .gitHubButton, ul,a:link, a:visited{
   display: flex;
    /* position: relative; */
    /* right:166px;  */
    flex-direction: row;
    /* justify-content: flex-end;
    align-self: flex-end; */
    margin: 10px;
    font-size: 30px;
    color: whitesmoke;
    text-decoration: none;
}


/*page */
.page{
    width:100%;
    height:100%;
}

.aboutMe{
margin-top: 6px;    
font-size:42px;
color:white ;
}
.me{
    float: left;
    margin-top: 6px;
    width: 40%;
    height:auto;
}
p{
font-size:25px;
color: whitesmoke;
}
/* projects */
#projects{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column  ;
}
.projects{
    display:flex;
    flex-direction: row;
     height:30em;
    width:100%;
    background-color: pink;
}
.projectsMain{
    display: flex;
    align-items: center;
    width:100%;
    height: auto;
    margin-left: 1%;
    margin-right: 1%;
    border-style: solid;
    border-color: royalblue;
    background-color: yellowgreen;
  
}
.projectsSec{
    display: flex;
    align-items: center;
    width:25%;
    height: auto;
    margin-left: 1%;
    margin-right: 1%;
    border-style: solid;
    border-color: royalblue;
    background-color: yellowgreen;
  
}
.mainImg, .secImg{
    width:100%;
    height:auto;
}
/* iframe{
    width: 100%;
    height:100%;
} */
/* footer */
.footer{
    height:10em;
    width:100%;
    background-color: violet;
}